.bold {
	font-weight: bold;
}

.first ,.second ,.third {
	border-radius: 100%;
	text-align: center;
	box-shadow: 0px 5px 8px rgb(1,1,1,0.4);
}

.first a, .second a , .third a, .all a {
	color: #000;
	text-decoration: none;
}

.first {
	background: #ffd700;
}

.second {
	background: #c0c0c0;
}

.third {
	background: #cd7f32;
}

.tan {
	color: #000;
	text-decoration: none;
}

.medails-table {
	background: #d4eafc;
    width: 333px;
    padding: 20px;
    padding-top: 10px;
}

.medails-table table {
	font-size: 20px;
	border-spacing: 0px;
}

.medails-table td {
	padding: 2px 14px;
}

h1 , h2 {
    font-weight: 200;
}

h1 {
	margin-bottom: -10px;
}

.medails-table {
	margin-bottom: 40px;
}

.addbtncansle {
  background: url(../images/cancle.png);
  background-size: 100%;
  width: 35px;
  height: 37px;
  border: 0px;
  display: none;
}

form {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

form input , form select{
	margin-bottom: 10px;
	width: 250px;
}

form input[type=submit] {
 width: 300px;
}

.success {
	
}

.wid {
	width: 200px;
}

.medails-table {
    float: left;
    margin-right: 40px;
}

.form-control-w {
	width: 300px;
}

.form-wrapper {
	padding-top: 16px;
}

.padding-head {
    padding-top: 15px;
}

.pb {
	padding-bottom: 20px;
}